<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
        <div class="flex justify-between mb-4">
            <img src="../static/Logo Planet Power.png" alt="Logo 1" class="h-12 w-auto">
            <img src="../static/Icono LED PADEL.png" alt="Logo 2" class="h-12 w-auto">
        </div>
        <h2 class="text-2xl font-bold mb-4 text-center">Restablecer Contraseña</h2>

        <div id="error-message" class="mb-4 hidden">  <!-- Este es tu contenedor -->
            <p class="text-sm text-red-700 bg-red-100 border-l-4 border-red-500 p-2 rounded-md text-center"></p>
        </div>

        <!-- Mostrar mensajes de flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mb-4">
                <ul>
                    {% for category, message in messages %}
                        <li class="text-sm text-{{ category }} bg-light p-2 rounded-md">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/reset_password">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="mb-4">
                <label for="new_password" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
                <input
                    type="password"
                    id="new_password"
                    name="new_password"
                    class="mt-1 block w-full border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-500"
                    required
                />
            </div>
            <button
                type="submit"
                class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-200"
            >
                Restablecer Contraseña
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            <a href="/login" class="text-blue-500 hover:underline">Volver a Iniciar Sesión</a>
        </p>
    </div>
</body>
</html>