/* styles.css */
.mes-item {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.mes-item:hover {
  background-color: #bfdbfe;
}
